@import "../node_modules/bootstrap/scss/bootstrap";

.coyote-card {
  text-align: center;
  font-size: 14em;
}
.col-centered {
  float: none;
  margin: 0 auto;
}

#coyote:fullscreen {
  background-color: white;
  height: 100%;
  width: 100%;
}
#coyote:-webkit-full-screen {
  background-color: white;
  height: 100%;
  width: 100%;
}
#coyote:-moz-full-screen {
  background-color: white;
  height: 100%;
  width: 100%;
}
.coyote-table {
  font-size: 20px;
}
